{% extends 'base.html' %}

{% block title %}
    {% if article.draft == False %}
        - {{ article.title }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if article.draft == False %}
        <article>
            <h2>{{ article.title }} - by {{ article.author }}</h2>
            <p>{{ article.body|safe }}</p>
            <p><i>First published: {{ article.published_date }}</i></p>
            Topics:
            <ul>
                {% for topic in article.topics.all %}
                <li>{{ topic.topic }}</li>
                {% endfor %}
            </ul>
        </article>
        <article>
            <form action = "{% url 'create_comment' %}" method="post">

                {% csrf_token %}

                <input type="hidden" name="article" value="{{ article.pk }}">

                <div>
                    <label for="">Name:</label>
                    <input id="name" type="text" name="name" />
                </div>
                <div>
                    <label for="">Message:</label>
                    <input id="message" type="text" name="message" />
                </div>
                <div>
                    <input type="submit" name="submit" value="Submit">
                    <input type="reset" name="reset" value="Reset">
                </div>
            
                {{ form.as_p }}
            
            </form>
        </article>
    {% endif %}
{% endblock %}