{% extends 'base.html' %}

{% block title %}
    - All Articles
{% endblock %}

{% block content %}
    {% for article in blog_articles %}
        {% if article.draft == False %}
            <p>
                <h2>{{ article.title }} - by {{ article.author }}</h2>
                <p>{{ article.body|safe }}</p>
                <p><i>First published: {{ article.published_date }}</i></p>
                Topics:
                <ul>
                    {% for topic in article.topics.all %}
                    <li>{{ topic.topic }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}