<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Blog</title>
  </head>
<body>
    <h1>DJango Blog</h1>
    {% for article in blog_articles %}
        {% if article.draft == False %}
            <article>
                <h2>{{ article.title }} - by {{ article.author }}</h2>
                <p>{{ article.body|safe }}</p>
                <p><i>First published: {{ article.published_date }}</i></p>
                Topics:
                <ul>
                    {% for topic in article.topics.all %}
                    <li>{{ topic.topic }}</li>
                    {% endfor %}
                </ul>
            </article>
        {% endif %}
    {% endfor %}
</body>
</html>